@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #275a7c;
}
.container {
    display: flex;
    width: 100%;
    max-width: 1050px;
    gap: 10px;
    padding: 10px;
}
section {
    background-color: #fff;
    border-radius: 7px;
}
.tools-board {
    width: 210px;
    padding: 15px 22px 0;
}
.tools-board .row {
    margin-bottom: 20px;
}
.row .options {
    margin: 10px 0 0 5px;
}
.options .option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 110px;
}
.option:is(:hover, .active) img{
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
.option:is(:hover, .active) :where(span, label) {
    color: #4A98F7;
}
.option :where(span, label) {
    margin: 0 0 0 10px;
    color: #949494;
    cursor: pointer;
}
.option #fill-color {
    cursor: pointer;
}
#fill-color:checked ~ label {
    color: #4A98F7;
}
.option #size-slider {
    width: 100%;
    height: 5px;
    margin-top: 10px;
}
.options #range {
    width: 100%;
}
.drawing-board {
    flex: 1;
}
.option .rectangle, .circle, .brush, .eraser {
    width: 15px;
}

/* Colors */
.colors .options {
    display: flex;
    justify-content: space-between;
}
.colors .option {
    width: 20px;
    height: 20px;
    background-color: red;
    margin-top: 5px;
    position: relative;
    border-radius: 50%;
}
.colors .option:nth-child(1) {
    background-color: #ffffff;
    border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2) {
    background-color: #000000;
}
.colors .option:nth-child(3) {
    background-color: #e02020;
}
.colors .option:nth-child(4) {
    background-color: #6DD400;
}
.colors .option:nth-child(5) {
    background-color: #4A98F7;
}
.options #color-picker {
    opacity: 0;
    cursor: pointer;
}
.selected::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
}
.colors .option:first-child::before {
    border-color: #cccccc;
}
.buttons button {
    width: 100%;
    color: #ffffff;
    border: none;
    border: none;
    outline: none;
    padding: 11px 0;
    margin-bottom: 13px;
    background: none;
    border-radius: 5px;
}
.buttons .clear-canvas {
    color: #6c757d;
    border: 1px solid #6c757d;
    transition: all 0.3s ease;
}
.clear-canvas:active {
    transform: scale(0.90);
}
.save-img:active {
    transform: scale(0.90);
}
.buttons .clear-canvas:hover {
    color: #fff;
    background-color: #6c757d;
}
.buttons .save-img {
    background: #4A98F7;
    transition: all 0.3s ease;
}
canvas {
    width: 100%;
    height: 100%;
}
